<div class="background">
  <video src="resources/background.mp4" autoplay loop muted playsinline>
</div>

<main>
  <h1>ISOMORPH STEM PORTAL.</h1>
  <div class="all-stems">
    <div class="box-container">
      <div class="box">
        <div class="box-header">
          <h3 class="glitchable">SURROUND.</h3>
          <button type=button>
            <%- include("../svg/x.svg") %>
          </button>
        </div>
        <p class="glitchable">
          Mixed and mastered by 
          <a href="https://soundcloud.com/anem0s">anem0s</a>.
        </p>
        <a class="stem-button glitchable" href="https://stemmy.versary.town/a/lfav/surround">
          Stems
        </a>
      </div>
    </div>
    <div class="box-container">
      <div class="box">
        <div class="box-header">
          <h3 class="glitchable">SUBJECT.</h3>
          <button type=button>
            <%- include("../svg/x.svg") %>
          </button>
        </div>
        <p class="glitchable">
          Vocals, guitars, mix, and master by
          <a href="https://soundcloud.com/jauntsen">jauntsen</a>.
          Vocals by
          <a href="https://soundcloud.com/polar333">polar</a>.
        </p>
        <a class="stem-button glitchable" href="https://stemmy.versary.town/a/lfav/subject">
          Stems
        </a>
      </div>
    </div>
    <div class="box-container">
      <div class="box">
        <div class="box-header">
          <h3 class="glitchable">SEQUESTER.</h3>
          <button type=button>
            <%- include("../svg/x.svg") %>
          </button>
        </div>
        <p class="glitchable">
          Vocals by 
          <a href="https://soundcloud.com/billy_excpoint">billy !</a>
          and
          <a href="https://soundcloud.com/billy_excpoint">bh</a>.
          Mixed and mastered by
          <a href="https://soundcloud.com/st1cksyea">_st1cks</a>.
        </p>
        <a class="stem-button glitchable" href="https://stemmy.versary.town/a/lfav/sequester">
          Stems
        </a>
      </div>
    </div>
    <div class="box-container">
      <div class="box">
        <div class="box-header">
          <h3 class="glitchable">SURRENDER.</h3>
          <button type=button>
            <%- include("../svg/x.svg") %>
          </button>
        </div>
        <p class="glitchable">
          Co-production, guitar, piano, and horns by
          <a href="https://soundcloud.com/wishlane">wishlane</a>.
          Co-production, background vocals, and horns by
          <a href="https://soundcloud.com/clovehitch">Clovehitch</a>.
          Mixed and mastered by
          <a href="https://soundcloud.com/close-knit">Close-Knit</a>.
        </p>
        <a class="stem-button glitchable" href="https://stemmy.versary.town/a/lfav/surrender">
          Stems
        </a>
      </div>
    </div>
    <div class="box-container">
      <div class="box">
        <div class="box-header">
          <h3 class="glitchable">SUSPEND.</h3>
          <button type=button>
            <%- include("../svg/x.svg") %>
          </button>
        </div>
        <p class="glitchable">
          Vocals and guitar by 
          <a href="https://soundcloud.com/saoirsedream">saoirse dream</a>.
          Mixed and mastered by
          <a href="https://soundcloud.com/prodmusa">musa</a>.
        </p>
        <a class="stem-button glitchable" href="https://stemmy.versary.town/a/lfav/suspend">
          Stems
        </a>
      </div>
    </div>
    <div class="box-container">
      <div class="box">
        <div class="box-header">
          <h3 class="glitchable">STASIS.</h3>
          <button type=button>
            <%- include("../svg/x.svg") %>
          </button>
        </div>
        <p class="glitchable">
          Vocals, guitar, co-production, mix, and master by 
          <a href="https://soundcloud.com/dynastic">dynastic</a>.
        </p>
        <a class="stem-button glitchable" href="https://stemmy.versary.town/a/lfav/stasis">
          Stems
        </a>
      </div>
    </div>
  </div>
</main>
